body{
  background-color: black;
  color: white;
  font-size: 1.5rem;
  margin:2%;
  text-align: center;
}
.header{
  background-color: #280331;
}
.header>p{
    text-align: left;
    padding: 1%;
}
.scoreboard{
  text-align: left;
}
.card-grid{
  display: flex;
  flex-wrap: wrap;
}
.card{
  border-radius: 15px;
  flex : 1;
  margin:1%;
  padding:4%;
  letter-spacing: 1px;
}
.win, .again{
  display: none;
  color: #33ff00;
  animation : 0.5s grow ease-in-out;
}
@keyframes grow{
  from{
    transform:scale(0);
  }
  to{
    transform: scale(1);
  }
}